<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="ISO-8859-1">
<title>My Client</title>
<link rel="stylesheet" href="style/style.css">

<!--  <script type="text/javascript" src="js/angular.min.js"></script>  -->
		

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> 
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="js/generate-md5.js"></script>
		
		
		<font face="arial black,arial">
</head>
<body ng-controller="HttpGetController">

  	<div class="login" id="login">
  		   <div class="LoginHeader" id="loginHeader" >
  			<img src="images/csc_logo_transparent.png" alt="Logo"><h1>CSC Bike Hire</h1>
		  </div>  
		
		<div class="loginContents">
			
			<div class="emailEntry">
				<p>Email</p>
				<input type="text" name="emailEntry" id="emailEntry"  ng-model="confirmed" ng-change="emailTyped()">
				<p class="atCSC">@csc.com</p>
			</div>
			
			<div class="loginActionDisplay" id="loginActionDisplay">
				Please Enter a CSC E-Mail Address
			</div>
			
			<div class="keypadLine">
				<button ng-click="loginKey('1')">1</button>
				<button ng-click="loginKey('2')">2</button>
				<button ng-click="loginKey('3')">3</button>
			</div>
			
			<div class="keypadLine">
				<button ng-click="loginKey('4')">4</button>
				<button ng-click="loginKey('5')">5</button>
				<button ng-click="loginKey('6')">6</button>
			</div>
			
			<div class="keypadLine">
				<button ng-click="loginKey('7')">7</button>
				<button ng-click="loginKey('8')">8</button>
				<button ng-click="loginKey('9')">9</button>
			</div>
			
			<div class="keypadLine">
				<button class="keypadLineFinal"ng-click="loginKey('0')">0</button><br>
			</div>
				
			<div class="loginAdditionalActions">
				<button ng-click="forgotPin()">Forgot your Pin?</button>
				<button id="signUpButton" ng-click="signUp()">Sign Up</button>
			</div>
		
		</div> 

	</div> 


  	<div class="overlay" id="overlay">
 		<div  class="confirmBookingWindow" id="confirmBookingWindow">
 			<p>Hire Bike For:</p>
 			<div ng-repeat="booking in selectedBookings">{{formatSelectedBooking(booking)}}
 				<!--  <p>{{formatDate(booking.date).dayWord}}</p><p>{{formatDate(booking.date).dayNum}}</p><p>{{formatDate(booking.date).monthWord}}</p>  -->
 			</div>
 			<button ng-click="confirmConfirmation()">Confirm</button>
			<button ng-click="cancelConfirmation()">Cancel</button>
 		</div>
 		<div  class="statDecWindow" id="statDecWindow">
 			<p>I will not sell the bike in exchange for magic beans.</p>
 			<button ng-click="agreeStatDec()">I Agree</button>
			<button ng-click="cancelConfirmation()">I Do Not Agree</button>
 		</div>
	</div> 
 
 
  	<div class="cancelOverlay" id="cancelOverlay">
 		<div  class="cancelBookingWindow" id="cancelBookingWindow">
 			<p id="cancelBookingMessage">Are you sure you want to cancel this booking?</p>
 			<p id="cancelDateTime"></p>
 			<button ng-click="confirmCancel()">Confirm</button>
			<button ng-click="cancelCancel()">Cancel</button>
 		</div>
	</div> 
	
	  <div class="optionsOverlay" id="optionsOverlay">
 		<div  class="optionsWindow" id="optionsWindow">
 			<button ng-click="logout()">Sign Out</button>
			<button ng-click="deleteAccount()">Delete Account</button>
			<button ng-click="cancelOptions()">Cancel</button>
 		</div>
 		
 		<div  class="deleteAccountWindow" id="deleteAccountWindow">
 			<p id="deleteAccountMessage">Delete your Account</p>
 			
 			<div class="deleteActionDisplay" id="deleteActionDisplay">
				<p>Enter your Pin</p>
			</div>
			
			<div class="deleteKeypadLine">
				<button ng-click="deleteKey('1')">1</button>
				<button ng-click="deleteKey('2')">2</button>
				<button ng-click="deleteKey('3')">3</button>
			</div>
			
			<div class="deleteKeypadLine">
				<button ng-click="deleteKey('4')">4</button>
				<button ng-click="deleteKey('5')">5</button>
				<button ng-click="deleteKey('6')">6</button>
			</div>
			
			<div class="deleteKeypadLine">
				<button ng-click="deleteKey('7')">7</button>
				<button ng-click="deleteKey('8')">8</button>
				<button ng-click="deleteKey('9')">9</button>
			</div>
			
			<div class="deleteKeypadLine">
				<button class="deleteKeypadLineFinal"ng-click="deleteKey('0')">0</button>
			</div></br>
			<button class="cancelDeleteButton" ng-click="cancelConfirmation()">Cancel</button>
 		</div>
 		
	</div> 
 


<div class="header" id="header" >
  <img src="images/csc_logo_transparent.png" alt="Logo"><h1>CSC Bike Hire</h1>
  <button ng-click="displayOptions()">.</br>.</br>.</br></button>
</div>






<div class="navPanelContainer" id="navPanelContainer">

</div>

<div class="navPanel" id="navPanel">
	<div class="tabs" id="tabs">
  		<div class="tablink" id="HireABikeTab" ng-click="openTab(event, 'HireABike');">Hire a Bike</div>
  		<div class="tablink" id="MyBookingsTab" ng-click="openTab(event, 'MyBookings');">My Bookings</div>
	</div>
  </div>





<div id="HireABike" class="tabBody">



  <div ng-repeat="date in dates">
  		<div class="day">   
			<div class= "dayComponent">        
            	<p>{{date.dayWord}}</p><p>{{date.dayNum}}</p><p>{{date.monthWord}}</p>
         	</div>

            <div class= "dayComponent" id="{{date.fullDate}}-1" ng-style="setBackground" ng-click="selectBooking(date.fullDate, 1);">        
               <p> 8 - 11 </p>
           	</div>

            <div class= "dayComponent" id="{{date.fullDate}}-2" ng-style="setBackground" ng-click="selectBooking(date.fullDate, 2);">        
             	<p> 11 - 2 </p>
       		</div>

            <div class= "dayComponent" id="{{date.fullDate}}-3" ng-style="setBackground" ng-click="selectBooking(date.fullDate, 3);">        
              <p> 2 - 5 </p>
         	</div>
     	</div>
  </div>
  
  <div class="right-corder-container">
    <button class="right-corder-container-button" ng-click="makeBooking();">
        <span class="short-text">+</span>
    </button>
</div>





 
 </div> 
  
  
  

  <div id="MyBookings" class="tabBody">
      
      <div ng-repeat="booking in myBookingsArray | orderBy : orderByDate">
              
             <div class= "myBookingEntry" id="{{booking.date}}">        
               <div class="mb-day">   
               		<div class= "mb-dayIdentifier">        
            			<p>{{formatDate(booking.date).dayWord}}</p><p>{{formatDate(booking.date).dayNum}}</p><p>{{formatDate(booking.date).monthWord}}</p>
         			</div>

            		<div class= "mb-dayComponent" id="mb-{{booking.date}}-1">        
		               <p> 8 - 11 </p> <p ng-click="cancelBooking(booking.date, 1);">X</p>
		           	</div>

		            <div class= "mb-dayComponent" id="mb-{{booking.date}}-2" ng-style="setBackground">        
		             	<p> 11 - 2 </p> <p ng-click="cancelBooking(booking.date, 2);">X</p>
		       		</div>

		            <div class= "mb-dayComponent" id="mb-{{booking.date}}-3" ng-style="setBackground">        
		              <p> 2 - 5 </p>  <p ng-click="cancelBooking(booking.date, 3);">X</p>
		         	</div>
     			</div>
           	</div>
         
         
     	</div>
    
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
<script type="text/javascript">

var app = angular.module("app", ['ngCookies']);
app.controller("HttpGetController", function ($scope, $http, $timeout, $cookies, $cookieStore) 
{
	var currentUser;



//=====================================================================================
// Login
//=====================================================================================
    $scope.login = function(user)
	{
		document.getElementById('login').style.display='none';
		currentUser = user;
		$cookieStore.put('currentUser',currentUser);
		$scope.generateDates();
		$scope.getBookings();
		document.getElementById("HireABike").style.display = "block";
		document.getElementById("MyBookings").style.display = "block";
		scroll();
	}
 //=====================================================================================
 // END :: Login
 //=====================================================================================
	
	 
//=====================================================================================
// Logout
//=====================================================================================	 
	$scope.logout = function()
	{
		document.getElementById('optionsOverlay').style.display='none';
		document.getElementById('login').style.display='block';
		$scope.myBookingsArray = [];
		var x = document.getElementsByClassName("tabBody");
		document.getElementById("HireABike").style.display = "none";
		document.getElementById("MyBookings").style.display = "none";

		$scope.deletePinEntered = '';
		$cookieStore.remove('currentUser');
		$scope.clearLogin();
	}
//=====================================================================================
// END :: Logout
//=====================================================================================	
	
	

	
	
	
	//Mode
	//1: General Log in
	//2: Sign Up
	var mode = 1;
	var pinEntered = "";
	var signUpPinEntered = "";
	$scope.loginKey = function(key)
	{
		var enteredEmail = document.getElementById('emailEntry');
		var loginActionDisplay = document.getElementById('loginActionDisplay');

		pinEntered+=key;
        
		$scope.setPinDisplay(pinEntered.length);

        	
        	if(pinEntered.length == 4 && enteredEmail.value != "") //Pin and Email Address have been entered 
            {
        		if ($scope.validateEntry(enteredEmail))
        			$scope.completeLogin(enteredEmail);
            }	
            else if (pinEntered.length == 4 && enteredEmail.value == "") //No Email Address Entered
            {
	    		pinEntered="";
	    		loginActionDisplay.innerHTML = "Please Enter a CSC E-Mail Address"; 
    		}

            

        }
	
	
	
	$scope.deletePinEntered='';
	$scope.deleteKey = function(key)
	{
		
		var deleteActionDisplay = document.getElementById('deleteActionDisplay');
		$scope.deletePinEntered+=key;
		console.log($scope.deletePinEntered.length);
		switch($scope.deletePinEntered.length) 
    	{
    	case 1:
    		deleteActionDisplay.innerHTML = "."; 
        	break;
        case 2:
        	deleteActionDisplay.innerHTML = "..";             
        	break;
        case 3:
        	deleteActionDisplay.innerHTML = "...";             
        	break;
        case 4:
        	deleteActionDisplay.innerHTML = "...."; 
        	$scope.verifyAccount($scope.deletePinEntered);
        	break;
    	} 
    }
	$scope.verifyAccount = function(deletePinEntered) // Used to verify account for deletion
	{
    	var data = $.param({employeeID: currentUser, pin: deletePinEntered});
		var deleteActionDisplay = document.getElementById('deleteActionDisplay');
    	$http.get('http://localhost:8080/CSCBikeHire/rest/todos/userlogin/'+currentUser+'/'+deletePinEntered, data)   
    	.success(function(userLoginResponse)
    	{	
    		$scope.userLoginResult = userLoginResponse;
    		
    		if(userLoginResponse.length < 1) //Incorrect Pin Entered
    		{
    			deleteActionDisplay.innerHTML = "Incorrect Pin";
    			$scope.deletePinEntered='';
    		}
    		else
    			{
    			deleteActionDisplay.innerHTML = "Please Enter your Pin";
    			$scope.deleteUser(currentUser, deletePinEntered);
    			}
    		pinEntered="";
    	});
	}
	
	
	
	$scope.deleteUser = function(user, pin) 
	{
		var deleteData = $.param({
            employeeID: user,
			pin: pin
        });
	      $http.delete('http://localhost:8080/CSCBikeHire/rest/todos/deleteuser/'+user+'/'+pin, deleteData, config)      
	        .success(function (deleteData, status, headers, config) {
	            $scope.PostDataResponse = deleteData; 
	    		$cookieStore.remove('currentUser');
	            $scope.logout();
	        })
	        .error(function (deleteData, status, header, config) {
	            $scope.ResponseDetails = "Data: " + deleteData +
	                "<hr />status: " + status +
	                "<hr />headers: " + header +
	                "<hr />config: " + config;
	        });
		
		
	}
	
	
	
	
	
	$scope.setPinDisplay = function(pinLength)
	{
    	switch(pinLength) 
    	{
    	case 1:
    		loginActionDisplay.innerHTML = "."; 
        	break;
        case 2:
        	loginActionDisplay.innerHTML = "..";             
        	break;
        case 3:
        	loginActionDisplay.innerHTML = "...";             
        	break;
        case 4:
        	loginActionDisplay.innerHTML = "....";             
        	break;
    	} 
	}
	
	
	$scope.completeLogin = function(enteredEmail) //User has entered an email address and pin
	{
		if(mode == 1) // log in
		{
        	var data = $.param({employeeID: enteredEmail.value, pin: pinEntered});
        	$http.get('http://localhost:8080/CSCBikeHire/rest/todos/userlogin/'+enteredEmail.value+'/'+pinEntered, data)  
        	.success(function(userLoginResponse)
        	{	
        		$scope.userLoginResult = userLoginResponse;
        		
        		if(userLoginResponse.length < 1) //Incorrect Pin Entered
        		{
        			loginActionDisplay.innerHTML = "Incorrect Pin"; 
        		}
        			
        		$scope.userLoginResult.forEach(function(emailAddress) 
        		{
        			$scope.login(enteredEmail.value);
        		});
        		pinEntered="";
        	});
		} 
    	else if (mode == 2) //Sign Up
    	{
    		if(signUpPinEntered == pinEntered)
    		{
				$scope.createNewUser(enteredEmail.value, pinEntered);
				$scope.clearLogin();
    		} 
    		else if (signUpPinEntered == "")
    		{
        		loginActionDisplay.innerHTML = "Please Re-Enter your Pin";
        		signUpPinEntered = pinEntered;
        		pinEntered="";
    		}
    		else
    		{
        		loginActionDisplay.innerHTML = "Pins do not Match. Try Again";
        		pinEntered = "";
        		signUpPinEntered = "";

    		}
    	}
	}
	
	
	$scope.validateEntry = function(emailAddress)
	{
		var validateSearch = emailAddress.value.search(/[^a-z0-9]/gi);

		if(validateSearch >= 0)
		{
		alert("Invalid Entry. please use your CSC E-Mail Address");
		$scope.clearLogin();
		return false;
		}
		else
			{
			return true
			}
	}
	
	
	
	$scope.createNewUser = function(emailAddress, pin)
	{
		var randomNumber = Math.floor(Math.random() * (5000 - 1000) + 1000);
		var randomString = randomNumber.toString();
		var hash = MD5(randomString)
			
			var data = $.param({
	            employeeID: emailAddress,
	            pin: pin,
	            hash: hash
	        });
	        
	      $http.post('http://localhost:8080/CSCBikeHire/rest/todos/createuser', data, config)  
	        .success(function (data, status, headers, config) {
	            $scope.PostDataResponse = data;
	            console.log("http://localhost:8080/CSCBikeHire/verifyaccount.html?employeeID="+emailAddress+"&hash="+hash)
	        })
	        .error(function (data, status, header, config) {
	            $scope.ResponseDetails = "Data: " + data +
	                "<hr />status: " + status +
	                "<hr />headers: " + header +
	                "<hr />config: " + config;
	        });
	}
	

	
	
	$scope.clearLogin = function()
	{
		mode = 1;
	    pinEntered = "";
		signUpPinEntered = "";
		loginActionDisplay.innerHTML = "Please Enter a CSC E-Mail Address"; 
		document.getElementById('emailEntry').value = "";
		document.getElementById("signUpButton").firstChild.data = "Sign Up"
	}
	
	
	

	$scope.emailTyped = function()
	{
		var enteredEmail = document.getElementById('emailEntry');
		if(enteredEmail.value.length > 0)
		{
			if(mode == 1)
        		loginActionDisplay.innerHTML = "Please Enter your 4 Digit Pin"; 
			else
        		loginActionDisplay.innerHTML = "Please Enter a 4 Digit Pin"; 
		}
		else
		{
			loginActionDisplay.innerHTML = "Please Enter a CSC E-Mail Address"; 
		}
	}
	
	$scope.signUp = function()
	{
		   var text = document.getElementById("signUpButton").firstChild;
				text.data = text.data == "Sign Up" ? "Cancel Sign Up" : "Sign Up";
		
		if(mode==1)
		{
			mode = 2;
			pinEntered="";
			var enteredEmail = document.getElementById('emailEntry');
			var loginActionDisplay = document.getElementById('loginActionDisplay');
	        
			if (enteredEmail.value == "") //No Email Address Entered
			{
	        	loginActionDisplay.innerHTML = "Please Enter a CSC E-Mail Address"; 
			}
			else //Email Has been entered
			{
				loginActionDisplay.innerHTML = "Please Enter a Pin"; 
			}
		} 
		else 
		{
			mode = 1;
		}

	}
	

 //=====================================================================================
 // Login
 //=====================================================================================
	
	
	
//=====================================================================================
// Get All User Bookings 
//=====================================================================================	
	$scope.getBookings = function() 
{
	$http.get('http://localhost:8080/CSCBikeHire/rest/todos/data')  
	.success(function(response)
	{	
		$scope.result = response;
		$scope.result.forEach(function(date) {
		    $scope.updadeBookingDisplay(date);
		});
		$scope.getUserBookings();
	});
}
//=====================================================================================
// END :: Get All User Bookings 
//=====================================================================================		
	

	
	

	
	
	
	
	
	
	
//=====================================================================================
// Get Current User Bookings 
//=====================================================================================	 
	$scope.getUserBookings = function () 
    {

	var data = $.param({employeeID: currentUser});
	$http.get('http://localhost:8080/CSCBikeHire/rest/todos/userbookings/'+currentUser, data)  
	.success(function(userBookingResponse)
	{	
		$scope.userBookingResult = userBookingResponse;
		$scope.userBookingResult.forEach(function(date) {
			    $scope.updadeBookingDisplayUser(date);
			    scroll();
		});
	});
    };
//=====================================================================================
// END :: Get Current User Bookings 
//=====================================================================================	 	
	
  
	

	
$scope.orderByDate = function(item) 
{
    var parts = item.date.split('/');
    var number = parseInt(parts[2] + parts[1] + parts[0]);
    return number;
};
	
	

//=====================================================================================
// SendData 
//=====================================================================================
  
    var bookings = [];
	var config = {headers : {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}}
	$scope.agreeStatDec = function () 
    {
		document.getElementById('overlay').style.display = 'none';
		document.getElementById('confirmBookingWindow').style.display = 'block';
		document.getElementById('statDecWindow').style.display = 'none';
    	
		var arrayLength = $scope.selectedBookings.length;
    	for (var i = 0; i < arrayLength; i++) 
    	{
    		var dateTimeslot = $scope.selectedBookings[i].split("-"); 
    		var sqlDate = convertDateSQL(dateTimeslot[0]);
    		
    		var data = $.param({
    	            employeeID: currentUser,
    				date: sqlDate,
    	            timeslot: dateTimeslot[1]
    	        });
    	        
    	      $http.post('http://localhost:8080/CSCBikeHire/rest/todos', data, config)  
    	        .success(function (data, status, headers, config) {
    	            $scope.PostDataResponse = data;
    	        })
    	        .error(function (data, status, header, config) {
    	            $scope.ResponseDetails = "Data: " + data +
    	                "<hr />status: " + status +
    	                "<hr />headers: " + header +
    	                "<hr />config: " + config;
    	        });
    	}
    	
    	$scope.updateDisplay();
    };
//=====================================================================================
// END :: SendData 
//=====================================================================================	 
	
	$scope.formatSelectedBooking = function(booking)
	{
		var dateTimeslot = booking.split("-"); 
		var formattedDate = $scope.formatDate(dateTimeslot[0])
		var timeslot = "8 - 11";
		if(dateTimeslot[1] == 2)
			timeslot = "11 - 2";
		if(dateTimeslot[1] == 3)
			timeslot = "2 - 5";
		return formattedDate.dayWord+" "+formattedDate.dayNum+" "+formattedDate.monthWord+" from "+timeslot;
	}
	
	
	
	
	
	$scope.updateDisplay = function()
	{
			//Update the display
		setTimeout(function () {
		    $scope.$apply(function () {
		         $http.get('http://localhost:8080/CSCBikeHire/rest/todos/data')  
	        	.success(function(response)
	        	{	
	        		$scope.result = response;
	        		$scope.result.forEach(function(date) {
	        		    $scope.updadeBookingDisplay(date);
	        		});

	        		$scope.getUserBookings(); //Get the current user's bookings
	        		$scope.selectedBookings = []; //Clear the array of selected items
		    	});
		    });
		}, 1000);
	}
	
	
	

	
	
//=====================================================================================
// Convert Dates to appropriate format
//=====================================================================================	
	function convertDateSQL(date)
	{
		var dateComponents = date.split("/"); 
		var sqlFormatDate = dateComponents[2]+"-"+dateComponents[1]+"-"+dateComponents[0];
		return sqlFormatDate;
	}
	
	function convertDateJS(date)
	{
		var dateComponents = date.split("-"); 
		var sqlFormatDate = dateComponents[2]+"/"+dateComponents[1]+"/"+dateComponents[0];
		return sqlFormatDate;
	}
//=====================================================================================
// END :: Convert Dates to appropriate format
//=====================================================================================	
	

	
	//Colours
		// 1 = White
		// 2 = Red
		// 3 = Green
		// 4 = Black
	$scope.updadeBookingDisplay = function(date) 
	{
		//Timeslot 1
		var bookingID = date.date+"-1";
		if(date.timeslot1 < 5)
			$scope.changeTimeslotColour(document.getElementById(bookingID),1);
		else
			$scope.changeTimeslotColour(document.getElementById(bookingID),2);

		//Timeslot 2
		bookingID = date.date+"-2";
		if(date.timeslot2 < 5)
			$scope.changeTimeslotColour(document.getElementById(bookingID),1);
		else
			$scope.changeTimeslotColour(document.getElementById(bookingID),2);
		
		//Timeslot 3
		bookingID = date.date+"-3";
		if(date.timeslot3 < 5)
			$scope.changeTimeslotColour(document.getElementById(bookingID),1);
		else
			$scope.changeTimeslotColour(document.getElementById(bookingID),2);
	}



//=====================================================================================
// Create array of user bookings 
//=====================================================================================	
	var found = false;
	$scope.myBookingsArray = new Array();
	$scope.updadeBookingDisplayUser = function(date) 
	{
		var formattedDate = convertDateJS(date.date);		
		var bookingID = formattedDate+"-"+date.timeslot;
		$scope.changeTimeslotColour(document.getElementById(bookingID),3);
		
		for(var i = 0; i < $scope.myBookingsArray.length; i++) 
		{
		    if ($scope.myBookingsArray[i].date == formattedDate) 
		    {
		        found = true;
		        if($scope.myBookingsArray[i].timeslots.indexOf(date.timeslot) == -1) 
		        {
		        	$scope.myBookingsArray[i].timeslots += "-"+date.timeslot;
		        }
		        break;
		    }
		}
		if(found == false)
			{
				$scope.myBookingsArray.push({"date":formattedDate, "timeslots":date.timeslot});
			}
		found = false;
	}
//=====================================================================================
// END :: Create array of user bookings 
//=====================================================================================	
	
	
	
//=====================================================================================
// Disply content in My Bookings 
//=====================================================================================		
	$scope.displayMyBookingsContent = function() 
	{
		for (var i in $scope.myBookingsArray) 
		{
			var timeslots = $scope.myBookingsArray[i].timeslots.split("-"); 
    		
			for (var j in timeslots) 
			{
				document.getElementById("mb-"+$scope.myBookingsArray[i].date+"-"+timeslots[j]).style.display = 'inline-block';
			}
		}
	}
//=====================================================================================
// END :: Disply content in My Bookings 
//=====================================================================================		
	

	$scope.changeTimeslotColour = function(element, color) 
	{
    	switch(color) 
    	{
        case 1:
        	var backgroundColor = "rgba(255, 255, 255, 0.4)";
			break;
        case 2:
        	var backgroundColor = "rgba(255, 0, 0, 0.4)";
            break;
        case 3:
        	var backgroundColor = "rgba(0, 255, 0, 0.4)";
            break;
        case 4:
        	var backgroundColor = "rgba(0, 0, 0, 0.4)";
            break;e
    	} 
    	element.style.background = backgroundColor;
	}
	
	
	
	
//=====================================================================================
// Cancel Booking
//=====================================================================================		
	var cancelDate;
	var cancelTime;
	
	$scope.cancelBooking = function(date, timeslot) 
	{
		document.getElementById('cancelOverlay').style.display = 'block';
		var element = document.getElementById("cancelDateTime");
		element.innerHTML = $scope.formatSelectedBooking(date + "-" + timeslot);
		cancelDate = date;
		cancelTime = timeslot;
	}
	
	$scope.confirmCancel = function() 
	{
		document.getElementById('cancelOverlay').style.display = 'none';
		var deleteData = $.param({
            employeeID: currentUser,
			date: cancelDate,
            timeslot: cancelTime
        });
	      $http.delete('http://localhost:8080/CSCBikeHire/rest/todos/delete/'+currentUser+'/'+convertDateSQL(cancelDate)+'/'+cancelTime, deleteData, config)      
	        .success(function (deleteData, status, headers, config) {
	            $scope.PostDataResponse = deleteData;
	            
	            for(var i = 0; i < $scope.myBookingsArray.length; i++) 
	            {
    			var obj = $scope.myBookingsArray[i];

	    			if(obj.date == cancelDate && obj.timeslots.indexOf("-") == -1) 
	    			{
	    				var bookingID = $scope.myBookingsArray[i].date+"-"+$scope.myBookingsArray[i].timeslots;
	    				$scope.changeTimeslotColour(document.getElementById(bookingID),1); // Manually set timeslot colour
	    				$scope.myBookingsArray.splice(i, 1);
	    			}
	    			else if (obj.date == cancelDate) 
	    			{
	        			var bookingElement = document.getElementById("mb-"+obj.date+"-"+cancelTime);
	        			bookingElement.style.display = 'none';
	        				        			
	        			var n = $scope.myBookingsArray[i].timeslots.indexOf(cancelTime);
	        			$scope.myBookingsArray[i].timeslots = $scope.myBookingsArray[i].timeslots.slice(0, n) + $scope.myBookingsArray[i].timeslots.slice(n+1);
	        			
	        			//First Timeslot Identifier
	        			if(n == 0)
	        				{
		        				$scope.myBookingsArray[i].timeslots = $scope.myBookingsArray[i].timeslots.slice(0, 0) + $scope.myBookingsArray[i].timeslots.slice(1);
	        				}
	        			//Second Timeslot Identifier
	        			else if (n == $scope.myBookingsArray[i].timeslots.length)
	        				{
		        				$scope.myBookingsArray[i].timeslots = $scope.myBookingsArray[i].timeslots.slice(0, n-1);
	        				}
	        			//Third Timeslot Identifier
	        			else
	        				{
	        					$scope.myBookingsArray[i].timeslots = $scope.myBookingsArray[i].timeslots.slice(0, 1) + $scope.myBookingsArray[i].timeslots.slice(2);
	        				}
	        		}
	    			
				}
	            $scope.updateDisplay();
	
	            
	            
	        })
	        .error(function (deleteData, status, header, config) {
	            $scope.ResponseDetails = "Data: " + deleteData +
	                "<hr />status: " + status +
	                "<hr />headers: " + header +
	                "<hr />config: " + config;
	        });
		
		
	}
		
	$scope.cancelCancel = function() 
	{
		document.getElementById('cancelOverlay').style.display = 'none';
	}

//=====================================================================================
// END :: Cancel Booking 
//=====================================================================================	
	
	
	
	
	
//=====================================================================================
// Generate Array of Dates
//=====================================================================================
     var weekday = new Array(7);
	 weekday[0]=  "Sun";
	 weekday[1] = "Mon";
	 weekday[2] = "Tue";
	 weekday[3] = "Wed";
	 weekday[4] = "Thu";
	 weekday[5] = "Fri";
	 weekday[6] = "Sat";
	 
	 var month = new Array();
	 month[0] = "Jan";
	 month[1] = "Feb";
	 month[2] = "Mar";
	 month[3] = "Apr";
	 month[4] = "May";
	 month[5] = "Jun";
	 month[6] = "Jul";
	 month[7] = "Aug";
	 month[8] = "Sep";
	 month[9] = "Oct";
	 month[10] = "Nov";
	 month[11] = "Dec";
 
	
	Date.prototype.addDays = function(days) {
        var dat = new Date(this.valueOf())
        dat.setDate(dat.getDate() + days);
        return dat;
    }
	
	function getFullDate(today){
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!

		var yyyy = today.getFullYear();
		if(dd<10){
		    dd='0'+dd
		} 
		if(mm<10){
		    mm='0'+mm
		} 
		var today = dd+'/'+mm+'/'+yyyy;
		return today;
	}
	

    function getDates(startDate, stopDate) {
       var dateArray = new Array();
       var currentDate = startDate;
       while (currentDate <= stopDate) 
       {
         dateArray.push({"fullDate":getFullDate(currentDate), "dayWord":weekday[currentDate.getDay()], "dayNum":currentDate.getDate(), "monthWord":month[currentDate.getMonth()]})
         currentDate = currentDate.addDays(1);
       }
       return dateArray;
     }

    $scope.generateDates = function() 
	{
 		var dateArray = getDates(new Date(), (new Date()).addDays(60));
 		$scope.dates = dateArray;
	}
//=====================================================================================
//END :: Generate Array of Dates
//=====================================================================================

	
	
	$scope.formatDate = function(date)
	{
		var newDate = new Date(convertDateSQL(date));
		 return ({"dayWord":weekday[newDate.getDay()], "dayNum":newDate.getDate(), "monthWord":month[newDate.getMonth()]});
	}
	
	
	
	
//=====================================================================================
// Check if user is logged in
//=====================================================================================
	var cookieUser = $cookieStore.get('currentUser');
	if(!angular.isUndefined(cookieUser))
	{
		document.getElementById('login').style.display='none';
		currentUser = cookieUser;
		$scope.generateDates();
		$scope.getBookings();
	}
//=====================================================================================
// END :: Check if user is logged in
//=====================================================================================

	
	
//=====================================================================================
// Select Booking
//=====================================================================================
	
	$scope.selectedBookings = [];
	$scope.selectBooking = function(fullDate, timeslot) 
	{
    	var bookingID = fullDate+"-"+timeslot;
    	var element= document.getElementById(bookingID);
    	if(getComputedStyle(element).backgroundColor=="rgba(255, 255, 255, 0.4)")
    	{
      		element.style.background = "rgba(0, 0, 0, 0.4)";
      		$scope.selectedBookings.push(bookingID);
    	} 
    	else if (getComputedStyle(element).backgroundColor=="rgba(0, 0, 0, 0.4)")
    	{
      		element.style.background = "rgba(255, 255, 255, 0.4)";
      		var index = $scope.selectedBookings.indexOf(bookingID);
      		if (index > -1) 
      		{
      			$scope.selectedBookings.splice(index, 1);
      		} 
    	}
	}
//=====================================================================================
// END :: Select Booking
//=====================================================================================
	

	
//=====================================================================================
// Popup Windows
//=====================================================================================
	$scope.makeBooking = function() 
	{
		document.getElementById('overlay').style.display = 'block';
	}
	
	$scope.confirmConfirmation = function() 
	{
		document.getElementById('confirmBookingWindow').style.display = 'none';
		document.getElementById('statDecWindow').style.display = 'block';
	}
	
	$scope.deleteAccount = function() 
	{
		document.getElementById('optionsWindow').style.display = 'none';
		document.getElementById('deleteAccountWindow').style.display = 'block';
	}
		
	$scope.cancelConfirmation = function() 
	{
		document.getElementById('overlay').style.display = 'none';
		document.getElementById('optionsOverlay').style.display = 'none';
		document.getElementById('confirmBookingWindow').style.display = 'block';
		document.getElementById('statDecWindow').style.display = 'none';
		document.getElementById('deleteAccountWindow').style.display = 'none';
		$scope.deletePinEntered = '';
		deleteActionDisplay.innerHTML = "Please Enter your Pin";
	}
	


//=====================================================================================
// END :: Popup Windows
//=====================================================================================
	 
	$scope.confirmDelete = function()
	{
		document.getElementById('optionsOverlay').style.display = 'none';
		document.getElementById('deleteAccountWindow').style.display = 'none';
		alert("Delete Account");
	}
	
	
	
	
	$scope.displayOptions = function() 
	{
		document.getElementById('optionsOverlay').style.display = 'block';
		document.getElementById('optionsWindow').style.display = 'block';
	}
	
	$scope.cancelOptions = function() 
	{
		document.getElementById('optionsOverlay').style.display = 'none';
	}
		
	
	
	
	
//=====================================================================================
// Change Tab
//=====================================================================================
	$scope.openTab = function (evt, tabName) 
    {
		  var i, x, tablinks;
		  x = document.getElementsByClassName("tabBody");
		  document.getElementById(tabName).style.display = "block";
		  
		  
		  if(tabName=="HireABike")
		  {
       		  document.getElementById("MyBookings").style.display = "none";
		      document.getElementById("HireABikeTab").style.background = "#14141f";
		      document.getElementById("MyBookingsTab").style.background = "#32324e";
		  } else {
       		  document.getElementById("HireABike").style.display = "none";
		      document.getElementById("HireABikeTab").style.background = "#32324e";
		      document.getElementById("MyBookingsTab").style.background = "#14141f";
		      $scope.displayMyBookingsContent();
		  }
		scroll();
		  
		}

//=====================================================================================
// END :: Change Tab
//=====================================================================================	

	
	
	window.addEventListener("scroll", scroll, false);
	window.addEventListener("resize", scroll, false);
	
//=====================================================================================
// Page Scroll
//=====================================================================================		
	function scroll() 
	{
		var navPanel = document.getElementById('navPanel');
		var navPanelRect = navPanel.getBoundingClientRect();
		
		//Container
		var navPanelContainer = document.getElementById('navPanelContainer');
		var navPanelContainerRect = navPanelContainer.getBoundingClientRect();
		navPanelContainer.style.height = navPanel.offsetHeight+"px";
		
		var headerElement = document.getElementById("header");
		var headerRect = headerElement.getBoundingClientRect();
		if(navPanelContainerRect.top <= 0)
		{
			navPanel.style.top = '0px';
		}
		if(document.body.scrollTop < headerRect.bottom)
		{
			navPanel.style.top = navPanelContainerRect.top+"px";
		}
	}
//=====================================================================================
// END :: Page Scroll
//=====================================================================================

	
	
	
	

	
	
});

</script>


</body>
</html>