/* ----------------- Header ----------------- */
.header
{
	display: inline-block;
	width: 100%;
	display: flex;
}


.header img
{
  max-width:150px;
  max-height:100px;
  width: auto;
  height: auto;
}

.header h1
{
	font-size: 50px;
	float: left;
	color: #FFFFFF;
	margin-top: 15px;

}

.header button
{
    margin-top: 80px;
    font-size: 25px;
}

.header .downArrow
{
	margin-top: 95px;
	border-width: 16px 9px 9px;
}

/* -------------- END : Header -------------- */





/* ------------------ Tabs ------------------ */
.tabs div
{
    font-size: 45px; 
}
/* --------------- END : Tabs --------------- */





/* -------------- Login Screen -------------- */
.loginContents .emailEntry
{
	height: 50px;
}

.loginContents .emailEntry input
{
    font-size: 40px;
}

.loginContents .emailEntry p
{
	top: 130px;
	font-size: 40px;
}

.loginContents .loginActionDisplay
{

    font-size: 40px;
}


.loginAllKeys
{
    top:250px;
}
/* ----------- END : Login Screen ----------- */




/* --------------- Pin Reset --------------- */
/* Action display for Pin Reset */
#resetEmailDisplay, #resetActionDisplay
{
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Email Address displayed on reset pin screen */
.resetLoginContents #emailDisplay
{ 
	font-size: 30px;
	padding: 10px;
}
/* ------------ END : Pin Reset ------------ */





/* ----------- Keypad Buttons ----------- */
.loginContents .keypadLine button, .resetLoginContents .keypadLine button
{
    font-size: 50px;
}

.loginAdditionalActions button
{
	font-size: 40px;
}
/* -------- END : Keypad Buttons -------- */





/* --------- Delete Button for Keypads --------- */
.keypadLine .delIcon, .deleteKeypadLine .delIcon
{ 
	height: 30px; 
	width: 40px; 
	font-size: 30px;
} 

.keypadLine .delIcon:before, .deleteKeypadLine .delIcon:before
{ 
	border-bottom: 15px solid transparent; 
	border-top: 15px solid transparent; 
	border-right: 15px solid white; 
	left: -15px;
	position: absolute; 
}
/* --------- END : Delete Button for Keypads --------- */