html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body
{
	background-color: #333333;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    
}

body #content 
{
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-align:center;
	position: relative;
	margin-top: 30%;
	padding-top: 15px;
	padding-bottom: 20px;
}

body #content h1 
{
	padding-bottom: 10px;	
}


#resetContent 
{
	color: white;

	text-align:center;
	height: 100vh;
}


.button 
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.header
{
	padding-bottom: 30px;
	display: inline-block;
	background: #333333;
	width: 100%;
	display: flex;
    background: #333333; 
    background: -webkit-linear-gradient(#32324e, #14141f); 
    background: -o-linear-gradient(#32324e, #14141f);
    background: -moz-linear-gradient(#32324e, #14141f);
    background: linear-gradient(#32324e, #14141f);
   
}


.header img
{
  display: block;
  max-width:350px;
  max-height:200px;
  width: auto;
  height: auto;
}

.header h1
{
	font-size: 90px;
	float: left;
	color: #FFFFFF;
	margin-top: 30px;

}
/*
.header button
{
	width:5%;
	height: 100px;
    display: block;
    text-align:right;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 150px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    margin-right:1px;
    background: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    text-decoration: none;
    font-size: 100px;
    line-height: 30px;
    margin-top: 15px;
    position:absolute; 
    right:25px; 
}*/

.header button
{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #14141f;
    border: 1px solid white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

	position: absolute;
    right: 5px;
    margin-top: 17%;
    font-size: 40px;
    padding-right: 50px;
    padding-left: 15px;
}

.header .downArrow
{
	position: absolute;
    right: 15px;
	margin-top: 18.5%;
	position: absolute;
    display:inline-block;
    vertical-align:middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 17px 17px;
    border-color: #14141f transparent transparent transparent;
	}

/* --------- Login --------- */
.LoginHeader
{
	display: inline-block;
	width: 100%;
	display: flex;
    background: #333333; 
    background: -webkit-linear-gradient(#32324e, #14141f); 
    background: -o-linear-gradient(#32324e, #14141f);
    background: -moz-linear-gradient(#32324e, #14141f);
    background: linear-gradient(#32324e, #14141f);
    height: 15%;
}


.loginContents, .resetLoginContents
{
	background-color: #333333;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	height: 85%;
}

.resetLoginContents .emailEntry
{
	text-align:center;
    vertical-align: middle;
    /*height: 75px;*/
}



/* Main Login */
.loginContents .emailEntry
{
	width: 100%;
	height: 6%;
}

.loginContents .emailEntry input
{
	float:middle; 
	width: 95%;
    font-size: 60px;
    margin-left: 2.5%;
}

.loginContents .emailEntry p
{
	position: absolute;
	right: 30px;
	font-size: 60px;
	color: rgba(0, 0, 0, 0.7); 
}

/* Reset Login */
.resetLoginContents .emailEntry p
{
	height: 100%;
    vertical-align: middle;
	float:left; 
	width: 30%;
	color: #FFFFFF;
 	margin-top: 25px;
}

.resetLoginContents .emailEntry input
{
	float:left; 
	width: 39%;
	margin-top: 25px;
}




.loginContents .loginActionDisplay, .resetLoginContents .loginActionDisplay
{
	color: #FFFFFF;
	height: 12.5%;
	text-align:center;
    height: 75px;
    font-size: 50px;
    height: 5%;
}

.loginContents .keypad
{
	width:100%;
	height: 74%;
}


.loginContents .keypadLine
{
	width:100%;
	height: 25%;
}


.resetLoginContents .keypadLine
{
	width:100%;
	height: 20%;
}


.loginContents .keypadLine button, .resetLoginContents .keypadLine button
{
	width:33%;
	height: 97%;
	
    display: block;
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
	background: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 90px;
}

.loginContents .keypadLine button:active
{
	background: rgba(255, 255, 255, 0.1);
}

.resetLoginContents .keypadLine button
{
	height: 98%;
}


.loginContents .keypadLine button:nth-child(2), .resetLoginContents .keypadLine button:nth-child(2)
{
	margin-left: 0.5%;
}

.loginContents .keypadLine button:nth-child(3), .resetLoginContents .keypadLine button:nth-child(3)
{
	float:right;
}



#resetEmailDisplay, #resetActionDisplay
{
	width: 100%;
	height: 200px;
}

.keypadLineFinal
{
 margin-left: 33.5%;
}

.loginAdditionalActions
{
	width: 100%;
	height: 15%;
}

.loginAdditionalActions button
{
	width:49.8%;
	height: 100%;
	
    display: block;
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
	background: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
}

.loginAdditionalActions button:active
{
	background: rgba(255, 255, 255, 0.1);
}

.loginAdditionalActions button:nth-child(2)
{
	float: right;
}






/* --------- Hire a Bike --------- */

#HireABike div p
{
	color: #FFFFFF;
}

#HireABike div p:nth-child(2)
{
		line-height: 70%;
}

/* Hire a Bike Days */
.day
{
	border-bottom: 2px solid white;
	height: 220px;
}

.day div p:nth-child(1)
{
	text-align: center;
	margin-top: 80px;
}

.day div:nth-child(1) p:nth-child(1)
{
	text-align: center;
	margin-top: 0px;
}


.day div p:nth-child(2), .day div p:nth-child(3)
{
	text-align: center;
}

.dayComponent
{
	display: inline-block;
	font-size: 60px;
}


.dayComponent:nth-child(1)
{
	display: inline-block;
	font-size: 60px;
}

.dayComponent:nth-child(1) p:nth-child(2)
{
	font-size: 90px;
}

.dayComponent:nth-child(1)
{
		 width: 24.25%;
		 margin-right: 0.5%;
		 height: 100%;

}

.dayComponent:nth-child(2)
{
		 width: 24.25%;
		 margin-right: 0.5%;
		 height: 100%;
		 vertical-align:top;
		 background: rgba(255, 255, 255, 0.4);

}

.dayComponent:nth-child(3)
{
		 width: 24.25%;
		 height: 100%;
		 vertical-align:top;
		 background: rgba(255, 255, 255, 0.4);
}


.dayComponent:nth-child(4)
{
	width: 24.25%;
	margin-left: 0.5%;
	height: 100%;
	vertical-align:top;
	background: rgba(255, 255, 255, 0.4);
}

/* ------------------------ My Bookings Days ------------------------ */

.mb-day
{
	border-bottom: 2px solid white;
	height: 220px;
}

.mb-dayIdentifier 
{
	display: inline-block;
	font-size: 40px;
	color: #FFFFFF;
	padding-right: 50px;
	margin-left: 20px;
}

.mb-dayIdentifier p:nth-child(1), .mb-dayIdentifier p:nth-child(3) /* Day and month Words */
{
	text-align: center;
	font-size: 60px;
}


.mb-dayIdentifier p:nth-child(2) /* Date Number */
{
	text-align: center;
	font-size: 90px;
	margin-top: -45px;
}

.mb-dayIdentifier p:nth-child(3) /* Move Month word up */ 
{
	margin-top: -45px;
}

.mb-dayComponent /* Booking Identifiers */
{
	padding-left: 10px;
	padding-right: 5px;
	display: inline-block;
	font-size: 60px;
	vertical-align: top; 
}


.mb-dayComponent:nth-child(1)
{
		 width: 24.25%;
		 height: 100%;	 
}

.mb-dayComponent:nth-child(2), .mb-dayComponent:nth-child(3), .mb-dayComponent:nth-child(4) 
{
		 display:none;
		 width: 24.25%;
		 height: 100%;

}

.mb-dayComponent p:nth-child(1) /* Timeslot */
{
	margin-top: 40px;
		float: left;
		color: #FFFFFF;
		padding-right: 20px;
}

.mb-dayComponent p:nth-child(2) /* Delete Button (X) */
{
		margin-top: 40px;
			color: #FF0000;
  		margin-left: 150px;
}

.mb-dayComponent p:nth-child(3) /* Bike Number */
{
		color: #FFFFFF;
  		font-size: 40px;
}


.noBookingsMessage
{
	position: absolute;
	top: 500px;
	left: 100px;
	color: #FFFFFF;
	font-size: 50px;
	display: block;
	width: 100%;
	  left: 0;
  right: 0;
  text-align: center;
	
}






#goToLoginButton
{
	
	width: 20%;
	margin:0 auto;
    display: none;
}




/* ---------------------------- */

.container {
  cursor: pointer;
  border: 2px black;
  display: block;
}

.selected {
  border: 2px solid red;
} 


.overlay, .cancelOverlay, .optionsOverlay, .forgotPinOverlay, .confirmPinOverlay{
	
	position:fixed;
	width: 100%;
	height:100vh;
	background: rgba(255, 255, 255, 0.4);
	z-index: 10;
	display: none;
	         
}

.forgotPinOverlay
{
	z-index: 30;
}


.confirmBookingWindow, .cancelBookingWindow, .optionsWindow, .statDecWindow, .deleteAccountWindow, .forgotPinWindow, .confirmPinWindow, .reportIssueWindow
{
	
	width: 90%;
	max-height:90%;
	background: #14141f;
	z-index: 10;
	display: block;    
	margin-top: auto;
	position:fixed;    
	 top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%); 
  	color: #FFFFFF;
  	
}
 .statDecWindow, .deleteAccountWindow, .reportIssueWindow
 {
 	display: none;    
 }
 
/* -------------- Confirm Booking Window --------------- */
.confirmBookingWindow p 
{
	font-size: 60px;
} 

.confirmBookingWindow .selectedBookings p 
{
	font-size: 50px;
} 
/* ----------- END : Confirm Booking Window ------------ */ 




/* ----------- Statutory Declaration Window ------------ */ 
.statDecWindow p 
{
	font-size: 60px;
}


 .statDecWindow textarea
 {
 	resize: none;
 	width: 98%;
 	height: 500px;
 	margin-left: 1%;
 	font-size: 50px;
 }

/* -------- END : Statutory Declaration Window --------- */ 




 
/* --------------- Cancel Booking Window --------------- */
.cancelBookingWindow p
{
	font-size: 60px;
 	margin-left: 15px;
}

.cancelBookingWindow p:nth-child(2)
{
	font-size: 50px;
}
 /* ------------ END : Cancel Booking Window ------------ */
 
 
 
 
 
 /* --------------- Report Issue Window --------------- */
 .reportIssueWindow p
 {
 	font-size: 70px;
 	margin-left: 15px;
 }
 
 .reportIssueWindow p:nth-child(2)
 {
 	font-size: 50px;
 }
 
 .reportIssueWindow textarea
 {
 	resize: none;
 	width: 98%;
 	height: 500px;
 	margin-left: 1%;
 	font-size: 50px;
 }
 /* ------------ END : Report Issue Window ------------ */



.confirmBookingWindow button, .cancelBookingWindow button, .statDecWindow button, .deleteAccountWindow button, .forgotPinWindow button, .confirmPinWindow button, .reportIssueWindow button 
{
	width:50%;
    display: block;
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;
    padding-bottom:20px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
    background: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 55px;
}

.confirmBookingWindow button:active, .cancelBookingWindow button:active, .statDecWindow button:active, .deleteAccountWindow button:active, .forgotPinWindow button:active, .confirmPinWindow button:active, .reportIssueWindow button:active, .optionsWindow button:active 
{
	background: rgba(255, 255, 255, 0.5);
}

.optionsWindow button
{
	
	display: block;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 60px;
    width: 100%;
}


/* ------------ Delete Account Window ------------ */
.deleteAccountWindow .deleteKeypadLine
{
	width: 100%;
}

.deleteAccountWindow p
{
	font-size: 70px;
	text-align: center;
}

.deleteActionDisplay p
{
	font-size: 50px;
}

.deleteAccountWindow .deleteActionDisplay
{
	font-size: 50px;
	text-align: center;
}

.deleteAccountWindow button
{
	width: 33%;
	display: block;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 90px;
    border: 1px solid white;
    height: 150px;
    margin-top: 0.5%; 
    background: rgba(255, 255, 255, 0.2);
}

.deleteKeypadLine button:nth-child(1)
{
	margin-right: 0.5%;
}

.deleteKeypadLine button:nth-child(3)
{
	float: right;
	margin-left: 0.5%;
}

.deleteAccountWindow .deleteKeypadLineFinal
{
	margin-left: 33.33%;
	margin-right: 33.33%;
}

.deleteAccountWindow .cancelDeleteButton
{
width: 100%;
}
/* ------------ END : Delete Account Window ------------ */





/* ------------ Forgot Pin Window ------------ */
.forgotPinWindow p, .confirmPinWindow p
{
	font-size: 50px;
	margin-left: 2.5%;	
}

.forgotPinWindow input
{
	font-size: 60px;
	width: 95%;
	margin-left: 2.5%;
}

.atCSCForgot
{
	position: absolute;
	top:75px;
	right:20px;
    font-size: 40px;
	color: rgba(0, 0, 0, 0.7); 
	
}







.login{
	
	position:fixed;
	width: 100%;
	height:100vh;
	background: #333333;
	z-index: 20;
	display: block;
	/*overflow-y: scroll;*/

	         
}


/* -------------- Make Booking Button -------------- */
.makeBookingContainer {
    position:fixed;
    right:20px;
    bottom:20px;
}

.makeBookingContainer .makeBookingButton {
    position:fixed;
    right:20px;
    bottom:20px;
    height: 220px;
    width: 220px;
    border:none;
   /* background-color:#6FB583;*/
    background-color:rgba(0, 155, 0, 0.9);
    border-radius: 220px;      
    transition: all 300ms;    
    box-shadow:2px 2px 5px rgb(25, 73, 15)  ;
    cursor:pointer;
    display: none;
}

.makeBookingContainer .makeBookingButton span {
    font-size: 250px;
    color:white;
    position: absolute;
    left: 40px;
    top: 100px;
    line-height: 28px;
}
/* ------------ END : Make Booking Button ------------ */




/* ------------------- Top Button -------------------- */
.returnToTopContainer {
    position:fixed;
    /*right:20px;
    bottom:20px;*/

}

.returnToTopContainer .returnToTopButton {
    position:fixed;
    /*right:20px;
    bottom:20px;*/
        right:50px;
    bottom:50px;
    height: 150px;
    width: 150px;
    border:none;
    background-color:black;
    border-radius: 220px;      
    transition: all 300ms;    
    box-shadow:2px 2px 5px rgb(25, 73, 15)  ;
    cursor:pointer;
    display: none;
}



.returnToTopContainer .returnToTopButton p:nth-child(1) {

	position: absolute;
    right: 30px;
	bottom: 90px;
	position: absolute;
    display:inline-block;
    vertical-align:middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 50px;
    border-color:  transparent transparent white transparent;

	}


.returnToTopContainer .returnToTopButton p:nth-child(2) {

		position: absolute;
    right: 30px;
	bottom: 70px;
	position: absolute;
    display:inline-block;
    vertical-align:middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 50px;
    border-color:  transparent transparent black transparent;

	}


.returnToTopContainer .returnToTopButton p:nth-child(3) {
	font-size: 45px;
	position: absolute;
    right: 25px;
	bottom: 35px;

	}

/*.returnToTopContainer .returnToTopButton span {
    font-size: 250px;
    color:white;
    position: absolute;
    left: 40px;
    top: 100px;
    line-height: 28px;
}*/
/* ---------------- END : Top Button ----------------- */




.navPanelContainer {
	height: 40px;
	background: #14141f;
}

.navPanel {
	width: 100%;
    position:fixed;
    left: 0px;
    right:0px;
    top:0px;
    background: #FFFF00;
}

.tabs
{  
	margin:0;
	padding:0;
	display: flex;
	width: 100%;
	position: relative;
}

.tabs div
{
    font-size: 70px; 
	border:0px;
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #14141f;
	color: #FFFFFF;
}

.tabs div:nth-child(2)
{
	background-color: #32324e;
}



