html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body
{
	background-color: #333333;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    
}

body #content 
{
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-align:center;
	position: relative;
	margin-top: 30%;
	padding-top: 15px;
	padding-bottom: 20px;
}

body #content h1 
{
	padding-bottom: 10px;	
}

.button 
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #FFFFFF;
    	border: 1px solid white;
    	padding: 5px;
    	padding-left: 20px;
    	padding-right: 20px;
    
}

.header
{
	display: inline-block;
	background: #333333;
	width: 100%;
	display: flex;
    background: #333333; 
    background: -webkit-linear-gradient(#32324e, #14141f); 
    background: -o-linear-gradient(#32324e, #14141f);
    background: -moz-linear-gradient(#32324e, #14141f);
    background: linear-gradient(#32324e, #14141f);
}


.header img
{
	display: flex;
  	width:40%;
  	height: 40%;
}

.header h1
{
	font-size: 80px;
	float: left;
		/*text-align: center;*/
		color: #FFFFFF;
		margin-top: 50px;

}

.header button
{
	width:5%;
    display: block;
    float:right;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
    background: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}



/* --------- Login --------- */
.LoginHeader
{
	background: #333333;
	height: 12.5%;
}




.loginContents
{
	background-color: #333333;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	height: 100%;
}


.loginContents .emailEntry
{
	text-align:center;
    vertical-align: middle;
    height: 75px;
}



.loginContents .emailEntry p
{
	height: 100%;
    vertical-align: middle;
	float:left; 
	width: 30%;
	color: #FFFFFF;
 	margin-top: 25px;
}

.loginContents .emailEntry input
{
	float:left; 
	width: 39%;
	margin-top: 25px;
}

.loginContents .loginActionDisplay
{
	color: #FFFFFF;
	height: 12.5%;
	text-align:center;
    	height: 75px;
}

.loginContents .keypadLine
{
	width:100%;
	height: 12.5%;
}

.loginContents .keypadLine button
{
	width:33%;
	height: 95%;
	
    display: block;
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
	background: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.loginContents .keypadLine button:nth-child(2)
{
		margin-left: 0.5%;
}

.loginContents .keypadLine button:nth-child(3)
{
		float:right;
}

.keypadLineFinal
{
 margin-left: 33.5%;
}

.loginAdditionalActions
{
	width: 100%;
	height: 15%;
}

.loginAdditionalActions button
{
	width:49.8%;
	height: 100%;
	
    display: block;
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
	background: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.loginAdditionalActions button:nth-child(2)
{
	float: right;
}






/* --------- Hire a Bike --------- */

#HireABike div p
{
	color: #FFFFFF;
}

#HireABike div p:nth-child(2)
{
		line-height: 70%;
}

/* Hire a Bike Days */
.day
{
	border-bottom: 2px solid white;
	height: 220px;
}

.day div p:nth-child(1)
{
	text-align: center;
	margin-top: 80px;
}

.day div:nth-child(1) p:nth-child(1)
{
	text-align: center;
	margin-top: 0px;
}


.day div p:nth-child(2), .day div p:nth-child(3)
{
	text-align: center;
}

.dayComponent
{
	display: inline-block;
	font-size: 60px;
}


.dayComponent:nth-child(1)
{
	display: inline-block;
	font-size: 60px;
}

.dayComponent:nth-child(1) p:nth-child(2)
{
	font-size: 90px;
}

.dayComponent:nth-child(1)
{
		 width: 24.25%;
		 margin-right: 0.5%;
		 height: 100%;

}

.dayComponent:nth-child(2)
{
		 width: 24.25%;
		 margin-right: 0.5%;
		 height: 100%;
		 vertical-align:top;
		 background: rgba(255, 255, 255, 0.4);

}

.dayComponent:nth-child(3)
{
		 width: 24.25%;
		 height: 100%;
		 vertical-align:top;
		 background: rgba(255, 255, 255, 0.4);
}


.dayComponent:nth-child(4)
{
	width: 24.25%;
	margin-left: 0.5%;
	height: 100%;
	vertical-align:top;
	background: rgba(255, 255, 255, 0.4);
}

/* ------------------------ My Bookings Days ------------------------ */

.mb-day
{
	border-bottom: 2px solid white;
	height: 220px;
}

.mb-dayIdentifier 
{
	display: inline-block;
	font-size: 40px;
	color: #FFFFFF;
	padding-right: 50px;
	margin-left: 20px;
}

.mb-dayIdentifier p:nth-child(1), .mb-dayIdentifier p:nth-child(3) /* Day and month Words */
{
	font-size: 60px;
}


.mb-dayIdentifier p:nth-child(2) /* Date Number */
{
	font-size: 90px;
	margin-top: -45px;
}

.mb-dayIdentifier p:nth-child(3) /* Move Month word up */ 
{
	margin-top: -45px;
}



.mb-dayComponent /* Booking Identifiers */
{
	display: inline-block;
	font-size: 60px;
}

.mb-dayComponent:nth-child(1)
{
		 width: 24.25%;
		 height: 100%;	 
}

.mb-dayComponent:nth-child(2), .mb-dayComponent:nth-child(3), .mb-dayComponent:nth-child(4) 
{
		 display:none;
		 width: 24.25%;
		 height: 100%;
		 vertical-align:middle;

}

.mb-dayComponent p:nth-child(1) /* Timeslot */
{
		float: left;
		color: #FFFFFF;
		padding-right: 20px;
}

.mb-dayComponent p:nth-child(2) /* Delete Button (X) */
{
		color: #FF0000;
  		margin-left: 150px;
}







/* ---------------------------- */

.container {
  cursor: pointer;
  border: 2px black;
  display: block;
}

.selected {
  border: 2px solid red;
} 


.overlay, .cancelOverlay, .optionsOverlay{
	
	position:fixed;
	width: 100%;
	height:100vh;
	background: rgba(255, 255, 255, 0.4);
	z-index: 10;
	display: none;
	         
}


.confirmBookingWindow, .cancelBookingWindow, .optionsWindow, .statDecWindow, .deleteAccountWindow {
	
	width: 80%;
	max-height:80%;
	background: #14141f;
	z-index: 10;
	display: block;    
	margin-top: auto;
	position:fixed;    
	 top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%); 
  	color: #FFFFFF;
  	
}
 .statDecWindow, .deleteAccountWindow
 {
 	display: none;    
 }




.confirmBookingWindow button, .cancelBookingWindow button, .statDecWindow button, .deleteAccountWindow button
{
	width:50%;
    display: block;
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
    background: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.optionsWindow button
{
	witdth: 33.33%;
	display: block;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;

}

.deleteAccountWindow .deleteKeypadLine
{
	width: 100%;
}

.deleteAccountWindow p
{
	font-size: 60px;
	text-align: center;
}

.deleteAccountWindow .deleteActionDisplay
{
	font-size: 50px;
	text-align: center;
}

.deleteAccountWindow button
{
	width: 33%;
	display: block;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 90px;
    border: 1px solid white;
    height: 150px;
    margin-top: 0.5%; 
    background: rgba(255, 255, 255, 0.2);
}

.deleteKeypadLine button:nth-child(1)
{
	margin-right: 0.5%;
}

.deleteKeypadLine button:nth-child(3)
{
	float: right;
	margin-left: 0.5%;
}

.deleteAccountWindow .deleteKeypadLineFinal
{
	margin-left: 33.33%;
	margin-right: 33.33%;
}



.deleteAccountWindow .cancelDeleteButton
{
width: 100%;
}








.login{
	
	position:fixed;
	width: 100%;
	height:100vh;
	background: #333333;
	z-index: 20;
	display: block;
	         
}

.right-corder-container {
    position:fixed;
    right:20px;
    bottom:20px;
}


.right-corder-container .right-corder-container-button {
    height: 62px;
    width: 62px;
    border:none;
    background-color:#6FB583;
    border-radius: 62px;      
    transition: all 300ms;    
    box-shadow:2px 2px 5px rgb(25, 73, 15)  ;
    cursor:pointer;
}


.right-corder-container .right-corder-container-button span {
    font-size: 72px;
    color:white;
    position: absolute;
    left: 7px;
    top: 13px;
    line-height: 28px;
}




.navPanelContainer {
	height: 40px;
	/* background: #333333; */ 
	background: #FF0000;

}


.navPanel {
	width: 100%;
    position:fixed;
    left: 0px;
    right:0px;
    top:0px;
    background: #FFFF00;
}


.tabs
{  
	margin:0;
	padding:0;
	display: flex;
	width: 100%;
	position: relative;
}

.tabs div
{
    font-size: 70px; 
	border:0px;
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #14141f;
	color: #FFFFFF;

}

.tabs div:nth-child(2)
{
	background-color: #32324e;
}



